# IDE directories and folders
.vscode/

# Target directory
target/

# Lockfile
Cargo.lock

# Secrets
.env
database/*
tests

# But will track the directores
!database/battles/
!database/ids/
!database/players/